*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, sans-serif;
    
}

header{
    display: flex;
    background-color: #0c64c8;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 15%;
    height: 25px;
}

.link{
    width: 40%;
    height: 25px;
    text-align: center;
}

a{
    color:white;
    margin-right: 20px;
}

.login{
    width: 15%;
    height: 25px;
    text-align: right;
}

.sezione1{
    height: 400px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;

}
 .box{
     width: 50%;
     height: 80%;
     margin: auto;
     color: white;
     text-align: center;
 }

 .box p{
     margin-bottom: 20px;
 }

 .button-nero{
     background-color: black;
     color: white;
     margin-left: 10px;
 }

 .box h1{
     margin-top: 100px;
     margin-bottom: 20px;
 }

 .sezione2{
     height: 400px;
     background-color: white;
     margin: auto;
     display: flex;
 }

 .box1{
    width: 70%;
    height: 80%;
    margin: auto;
    display: flex;
 }
    

 .immagine{
     height:100%;
     width: 60%;
     background-size: cover;
 }

 .immagine img{
     width: 100%;
     height: 100%;
 }

 .testo{
     height: 100%;
     width: 40%; 
     padding: 30px;
 }

 p{
     margin-top: 30px;
     line-height: 1.5em;
 }

 #gray{
     background-color: lightgray;
 }
 .boxgray{
    width: 70%;
    height: 80%;
    margin: auto;
    display: flex;
     flex-direction: row-reverse;
 }
                                                      
 .sezione3{
     height: 1000px;
     background-color:lightgray;
     display: flex;
     
 }

.box2{
    height: 80%;
    width: 70%;
    margin: auto;
    text-align: center;
}

.black{
    background-color: #131516;
    max-height: 500px;
    display: flex;

}

.boxFooter{
    display: flex;
    height:90%;
    width: 70%;
    margin: auto;
    margin-top: 35px;
}
 
.social{
    width: 30%;
}

.info{
    width: 17.4%;
}

.chiusura{
    height: 100px;
    background-color:#131516;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.barra{
    border-top: solid 2px #313654;
    height: 100%;
    width: 70%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;

}
 
.barranera{
    width: 60%;
    background-color: black;
    height: 8px;
    border-radius: 5px;
}

button{
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    font-size: 10px;
    border:none;
    font-weight: bold;
}

.box2 button{
    background-color:#445385 ;
    font-weight: bold;
    color: white;
    margin-top: 50px;
}

.viola{
    color:#445281 ;
}

.boxFooter div{
    padding: 20px;
}

.social span{
    color:white;
    
}

.social img{
    height: 20px;
    width: 30px;
    margin-top: 30px;
    margin-right: 5px;
}

.social i{
    margin-top: 20px;
    margin-right: 10px;
    color: white;
}

.titolo{
    color:#445385;
    font-weight: bold;
    margin-top: 0px;
}

ul li{
    color: white;
    list-style: none;
    margin-top: 15px;
}

.registra{
    background-color:#445385;
    color: white;
    font-weight: bold;
}

.barra div{
    margin-top: 10px;;
}